body {
    background-color: black;
    margin: 0;
}

#cesiumContainer {
    background-color: black;
}

.cesium-legend {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(10, 10, 10, 0.2);
    border: 0px solid #d8c6c6;
    padding: 10px;
    /* font-size: 16px; */
    color: rgba(240, 230, 230, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: normal;
    /* line-height: 28px; */

}

.green {
    color: rgba(40, 131, 17, 0.8)
}

.blue {
    color: rgba(13, 54, 235, 0.8)
}

.red {
    color: rgba(194, 11, 11, 0.8)
}

#loading-overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    pointer-events: none;
    z-index: 9999;
    background: rgba(0, 0, 0, 1) url("loading.gif") no-repeat;
    background-position: center;
    opacity: 1;
}